body {
    background: rgb(221,221,221);
}

.shadow {
    text-shadow:0 0 5px #AAA;
}

h1{
    height: 40px;
    color:white;
    font-size:25pt;
}

#modsamples {
    background:#f5f5f5;
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    padding: 10px;
    margin-top:40px;
    min-height: 500px;
    max-height: 500px;
    border-radius: 3px;
}
#modsamples span{
    width:100%;
    display: inline-block;
    padding:0;
    margin:0;
    filter:none;
    background: none;
    color:gray;
    transition: color .4s ease-in;
    transition: background .2s ease-in;
}

#modsamples span.activesample {
    transition: all 0;
    color: white;
    background: #FF5555;
}

#modpattern {
    white-space: pre;
    height: 24.0em;
    overflow: hidden;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
}

.currentrow {
    background: #335;
}

.patterndata {
    height: 24.0em;
    margin-top: 0;
    overflow: hidden;
    display: none;
}

.currentrow {
    color: #ccc;
    background: rgb(248,80,50);
}

.currentpattern {
    display: inline-block !important;
}

.note {
    color: #ffbb00;
}

.sample {
    color: #ff5555;
}

.command {
    color: #00BBFF;
}

.currentrow .note {
    background: #ffbb00;
    color: white;
}

.currentrow .sample {
    background: #ff5555;
    color: white;
}

.currentrow .command {
    background: #00BBFF;
    color: white;
}

#modtimer {
    display:block;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    margin-top:0;
    margin-bottom:5px;
    padding: 5px;
}

.hl{color:#aaa;}

.uploaded{
    padding-top: 5px;
    min-height:500px;
    max-height:500px;
    overflow-y:auto;
}


.footertext{
    font-size: 9pt;
}
#loader{
    display: none;
    position:absolute;
    left:5px;
    top:30px;
}
#progressbar
{
    display: none;
    margin-bottom: 0;
}
.controls{}

#canvas{
    margin-top:25px;
}
.text-small{
    font-size: 8pt;
    color:#FFBB00;
    margin: 0;
    padding: 0;
    line-height: 0;
}


.screen
{
    color:#666;
    background: #222;

    
}
.FX
{
    border-radius: 4px;
    border: 1px #FFF solid;
    box-shadow: 0 0 15px #888;
    background: #666;
    background: rgb(69,72,77);
    text-shadow: 0 0 2px black;
    box-shadow: inset 0 0 15px #000, 0 0 15px #888;

}
.blockTitle{
    
}
.title{
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 3px 0 #bbb,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.titlePlayer{
    color:#00BBFF;
    text-shadow: 0 1px 0 #00AAEE,
               0 3px 0 #0099DD,
               0 5px 0 #0088CC,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.titleJS{
    color:#ffbb00;
    text-shadow: 0 1px 0 #EEAA00,
               0 3px 0 #DD9900,
               0 5px 0 #CC8800,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.insetText{
    font-family: Lucida Grande;
    background-color: #AAA;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 2px 2px;
}

.mandarine{
    font-size: 12pt;
}
#fps{
    position:absolute;
    top:0;left:5px;
    color:gray;
    font-size:10px;
    font-family: Lucida Grande;;
}
#footer{
    position: absolute;
    bottom: 5px;
}
.options{
    float:right;
}
@media (max-width: 767px) {
    #canvas {
      margin-top:0;
    }
    #footer {
        position: relative;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .uploaded{
        padding-top: 5px;
        min-height:92px;
        max-height:92px;
        overflow-y:auto;
    }

    #modtimer {
        float: none;
        display: block;
        margin-top:5px;
    }

    #modsamples{
        margin-top:0;
    }
    .options{
        float:none;
        clear:both;
    }

}


